@charset "utf-8";
.expand {
	width: 100%;
}
.heading {
	line-height: 10px;
	margin-right: 10px;
}
.caption1 {
	font-size: 5px;
}
.content {
	max-width: 800px;
	text-align: left;
	margin: 0 auto;
	font-style: italic;
}
.content2 {
	max-width: 800px;
	text-align: left;
	margin: 0 auto;
}
.content3{
	max-width: 800px;
	margin: 0 auto;
}
.image {
	margin: 0 auto;
	max-width: 700px;
}
.imagefill {
	min-height: 100%;
	min-width: 100%;
}
